.article-list {
    overflow: scroll;
    background: transparent;
}

.article-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 !important;
    // min-width: 250px;

    .article-img {
        width: 100%;
        max-height: 200px;
    }

    .articleTitle {
        font-size: 16px;
        margin-top: 2px;
    }

    .article-card-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .read-more {
            margin-top: auto;
        }
    }

}

.article-grid {
    width: 90%;
}

.article-item {
    .article-img {
        width: 175px;
        max-width: 20%;
        height: 100%;
        object-fit: cover;
    }

    .article-content {
        padding: 20px 20px 0 20px;
    }

    .articleTitle {
        font-size: 16px;
        margin-top: 2px;
    }

    .article-body {
        margin-top: 8px;
        font-size: 14px;
    }
}

.desktop-article {
    white-space: normal;
    background: transparent;

    .article-content {
        padding: 0 20px 0 20px !important;
    }
    .article-content {
        white-space: normal;
    }
}