.holdings-list {
    // width: 50%;
    margin: auto !important;
    max-width: 400px;
    padding-top: 0 !important;
}

.holdings-list-amount {
    // text-align: right;
    margin-bottom: 4px;
}

.holding-list-label {
    width: fit-content;
    display: flex !important;
    flex-direction: row;

    .token-name {
        padding-right: 6px;
        display: flex !important;
        flex-direction: column;
        white-space: normal;

        .token-symbol {
            color: var(--ion-color-step-600, #666666);
        }
    }
}

.holdings-list-amount {
    display: flex !important;
    flex-direction: column;
}

.holding-label {
    margin-bottom: 0px !important;
}

.name {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    margin: auto 7px auto auto;
    text-align: right;

    .ticker-priceChange {
        display: flex;
        font-size: 12px;
        width: fit-content;
        margin: auto 0 auto auto;

        .positive {
            color: #009e74;
        }
        .negative {
            color: #d94040;
        }
    }

}

.holding-icon {
    width: 33px;
    height: 33px;
    align-self: center;
    margin-right: 10px;
}

.holding-avatar {
    margin: auto 8px auto 0;
    width: 33px !important;
    height: 33px !important;
}

.holding-item {
    display: flex;
    flex-direction: row;
    --padding-start: 16px !important;
    --padding-end: 16px !important;
    --border-color: grey;
}

.holdings-grid {
    --ion-grid-padding: 10px;
}

.holding-col {
    max-width: 150px !important;
    --ion-grid-column-padding: 1px;
}

.holding-card {
    display: flex;
    flex-direction: row;
    padding: 0px !important;
    margin: 2px;
}

ion-item {
    --padding-start: 6px !important;
    --padding-end: 0px !important;
    --inner-padding-end: 0px !important;
}

.holdings-row {
    justify-content: center;
}

.holdings-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.current-value {
    font-weight: 500;
}

.mobile-holdings {
    max-height: 47%;
    overflow: scroll;
}