.center-align {
    text-align: center
}

.login-logo {
    text-align: center;
}

.logo {
    max-width: 300px;
    max-height: 300px;
}

.about-header {
    padding-bottom: 8px;
}

.about-title {
    margin-bottom: 0px !important
}

.show-info {
    cursor: pointer;
}