#market-page {

    .price-card {
        height: 97%;
        border-radius: 12px;
        text-align: center;

        .price-list {
            overflow: scroll;
            height: 80%;
            padding: 0;
        }
    }
}