ion-content ion-toolbar {
  --background: translucent;
}

.transfer-modal {
  --height: 350px;
  --width: 400px;
  --border-radius: 8px;

  .transfer-modal-content {
    --background	: #282828;

    .address-inputs {
      padding: 0px;
      margin-bottom: 10px;
    }

    .amount-inputs {
      padding: 0px;

      margin-bottom: 0px;
    }

    .modal-buttons {
      padding-top: 16px;
      text-align: center;
    }

    .transfer-modal-title {
      text-align: center;
      padding-bottom: 16px;
    }
  }
}



.home-page {
  text-align: center;

}

.accounts-title {
  padding: 0px
}

.accounts-card {
  max-width: 505px;
  margin: auto;
  border-radius: 16px;
}

.owners-acount {
  border-radius: 16px;
}

.avatar {
  cursor: pointer;
}

.account {
  text-align: left;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.login {
  width: fit-content;
  margin: auto;
}

.transfer-funds {
  max-width: 40%;
  margin: auto
}

.contacts-header {
  padding-bottom: 0
}