ion-content ion-toolbar {
  --background: translucent;
}

#mobile-view {
  .owners-acount {
    width: 95% !important;
  }

  .account-item {
    padding-bottom: 6px;
    padding-top: 6px;

    .account-holdings-list {
      padding-left: 20px;

      .current-value {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

#transfer-modal, #purchase-modal {
  --height: 350px;
  --width: 400px;
  --border-radius: 8px;

  .transfer-modal-content, .purchase-modal-content {
    --background	: #282828;

    .address-inputs {
      padding: 0px;
      margin-bottom: 10px;
    }

    .amount-inputs {
      padding: 0px;

      margin-bottom: 0px;
    }

    .modal-buttons {
      padding-top: 16px;
      text-align: center;
    }

    .transfer-modal-title, .purchase-modal-title {
      text-align: center;
      padding-bottom: 16px;
    }
  }
}

.home-page {
  text-align: center;
}

.current-prices {
  overflow: scroll;
}

.current-prices{
  max-height: 600px;
}

.accounts-title {
  padding: 0px
}

.accounts-card {
  max-width: 505px;
  margin: 20px auto;
  border-radius: 16px;
}

.menu-header {
  padding-left: 0;
}

.avatar {
  cursor: pointer;
  margin-right: 8px;
  display: flex;

  .identicon {
    align-self: center;
  }
}

.account {
  text-align: left;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.login {
  width: fit-content;
  margin: auto;
}

.transfer-funds {
  max-width: 40%;
  margin: auto
}

.contacts-header {
  padding-bottom: 0
}

.desktopview {
  display: flex;
  flex-direction: row;
  height: 100%;

  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
  }

  .news-list {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 80%;
    margin: auto;

    .articles {
      overflow: scroll;
    }
  }

  .main-card {
    border-radius: 10px;
    width: 45%;
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .news-card {
    flex-grow: 1;
    width: 95% !important;
    padding: 0 !important;

  }
  .read-more {
    text-align: right;
  }
  .price-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: 80%;
    margin: auto;
    height: 100%;
    
    .searchbar-input-container {
      max-width: 600px;
      margin: auto;
    }
    .price-list {
      overflow: scroll;
    }

    .price-tab {
      display: flex;

      .segment-icon {
        align-self: center;
        padding-left: 4px;
      }
    }
  }
}

.market-cards {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .contacts-content {
    overflow: scroll;
  }

  .main-card {

    .article-list, .price-list {
      overflow: scroll;
    }
  }
}