ion-content ion-toolbar {
  --background: translucent;
}

#transfer-modal, #purchase-modal {
  --height: 350px;
  --width: 400px;
  --border-radius: 8px;

  .transfer-modal-content, .purchase-modal-content {
    --background	: #282828;

    .address-inputs {
      padding: 0px;
      margin-bottom: 10px;
    }

    .amount-inputs {
      padding: 0px;

      margin-bottom: 0px;
    }

    .modal-buttons {
      padding-top: 16px;
      text-align: center;
    }

    .transfer-modal-title, .purchase-modal-title {
      text-align: center;
      padding-bottom: 16px;
    }
  }
}

.contacts-list {
  padding-right: 8px;
  padding-left: 8px;
}

.home-page {
  text-align: center;

}

.current-prices, .contacts-list {
  max-height: 600px;
  overflow: scroll;
}

.accounts-title {
  padding: 0px
}

.accounts-card {
  max-width: 505px;
  margin: auto;
  border-radius: 16px;
}

.owners-acount {
  border-radius: 16px;
  max-width: 600px;
  margin: 20px auto 20px auto;
  height: fit-content;
  overflow: visible;
}

.avatar {
  cursor: pointer;
}

.account {
  text-align: left;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.login {
  width: fit-content;
  margin: auto;
}

.transfer-funds {
  max-width: 40%;
  margin: auto
}

.contacts-header {
  padding-bottom: 0
}

.desktopview {
  display: flex;
  flex-direction: row;
  height: 100%;

  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu-list {
    
    padding: 20px;
    width: 200px;

    .selected {
      color: #6851ff;
      font-weight: 600 !important;

    }

    .list-items {
      margin-top: 30px;

      ion-item {
        cursor: pointer;
        font-size: 17px;
        font-weight: 300;

      }
    }
  }

  .main-card {
    border-radius: 10px;
    width: 45%;
    margin: 30px auto 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .news-card {
    flex-grow: 1;
    width: 95% !important;
    padding: 0 !important;
  }

  .price-card {
    flex-grow: 1;
  }
}

.market-cards {
  max-height: 70%;
  display: flex;
  flex-direction: row;

  .main-card {

    .article-list, .price-list {
      overflow: scroll;
    }
  }
}