.center-align {
    text-align: center
}

.login-logo {
    text-align: center;
}

.logo {
    max-width: 300px;
    max-height: 300px;
}

.icon {
    max-width: 100px;
    max-height: 100px;
}

.about-header {
    padding-bottom: 8px;
}

.about-title {
    margin-bottom: 0px !important
}

.login-button-container {
    justify-content: center;

    .login-button {
        margin: 5px 10px;
        width: 300px;
    }
}
