.account-flex {
    display: flex;
    cursor: pointer;
}

.account {
    margin-top: 2px !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-icon {
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.collapse-balances-icon {
    vertical-align: middle;
}

.balance-list {
    padding: 8px 0 0 20px;
}

.holding-icon {
    vertical-align: middle;
    height: 25px;
}