.account-flex {
    display: flex;
    cursor: pointer;
}

.personal-account {
    margin: auto;
    max-width: 100%;
    width: fit-content;
    border-radius: 8px;
}

.account-name {
    font-weight: 500;
    font-size: 16px;
}

.account {
    margin-top: 2px !important;
    padding-left: 5px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    direction: ltr;
}

.copy-icon {
    // padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: gray;
}

.collapse-balances-icon {
    vertical-align: middle;
}

.balance-list {
    padding: 0 0 0 20px;
}

.holding-icon {
    vertical-align: middle;
    height: 23px;
    padding-right: 4px;
}

.holding-amount {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
}

.collapse-balances-icon {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.holding-item {
    // height: 34px;
}

.holding-list {
    padding: 0 0 0 20px;
}

.account-item-sliding {
    .contact {
        .account-item {
            display: flex;
            flex-direction: column;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 8px;

            .main-content {
                display: flex;
                flex-direction: row;
            }
        }
    }
}
