.center {
    text-align: center
}

.contacts-list {
    padding: 0px !important;
    width: fit-content;
    margin: auto !important;
    max-width: 100%;
    border-radius: 12px;
    margin-top: 6px !important;
}